@tailwind base;
@tailwind components;
@tailwind utilities;

/* 可以在此加入自定義的全域樣式 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
